
.logoac {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 120px;
  width: 40%;
    }

.LOE{
  color: #ab1401 ;
  position: absolute;
  left: 550px;
  top: -40px;
  font-size: 72px;
  font-family: "Bauhaus 93";
}